<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenbox.mappers.TaskMapper">

  <!--实体映射-->
  <resultMap id="base_result_map" type="com.wnquxing.entity.po.Task">

  	<!--任务表主键ID-->
  	<id column="id" property="id"/>

  	<!--关联用户ID-->
  	<result column="user_id" property="userId"/>

  	<!--任务类型（如：背单词、读书、打卡等）-->
  	<result column="task_type" property="taskType"/>

  	<!--完成情况（0-未完成，1-已完成）-->
  	<result column="completion_status" property="completionStatus"/>

  	<!--个人目标描述-->
  	<result column="personal_goal" property="personalGoal"/>

  	<!--任务持续天数-->
  	<result column="continuous_days" property="continuousDays"/>

  	<!--任务记录创建时间-->
  	<result column="create_time" property="createTime"/>


  </resultMap>

  <!--通用查询列-->
  <sql id="base_column_list">
  	id, user_id, task_type, completion_status, personal_goal, continuous_days, create_time 
  </sql>

  <!--基础查询条件-->
  <sql id="base_query_condition">
  	<if test="query.id !=null">
  		and id = #{query.id}
  	</if>
  	<if test="query.userId !=null and query.userId != ''">
  		and user_id = #{query.userId}
  	</if>
  	<if test="query.taskType !=null and query.taskType != ''">
  		and task_type = #{query.taskType}
  	</if>
  	<if test="query.completionStatus !=null">
  		and completion_status = #{query.completionStatus}
  	</if>
  	<if test="query.personalGoal !=null and query.personalGoal != ''">
  		and personal_goal = #{query.personalGoal}
  	</if>
  	<if test="query.continuousDays !=null">
  		and continuous_days = #{query.continuousDays}
  	</if>
  	<if test="query.createTime !=null">
  		and create_time = #{query.createTime}
  	</if>
  </sql>

  <!--扩展查询条件-->
  <sql id="base_query_condition_extend">
  	<if test="query.userIdFuzzy !=null and query.userIdFuzzy != ''">
  		 and user_id like concat('%',#{query.userIdFuzzy},'%')
  	</if>
  	<if test="query.taskTypeFuzzy !=null and query.taskTypeFuzzy != ''">
  		 and task_type like concat('%',#{query.taskTypeFuzzy},'%')
  	</if>
  	<if test="query.personalGoalFuzzy !=null and query.personalGoalFuzzy != ''">
  		 and personal_goal like concat('%',#{query.personalGoalFuzzy},'%')
  	</if>
  	<if test="query.createTimeStart !=null and query.createTimeStart != ''">
  		 <![CDATA[ and create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
  	</if>
  	<if test="query.createTimeEnd !=null and query.createTimeEnd != ''">
  		 <![CDATA[ and create_time < date_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'), interval - 1 day) ]]>
  	</if>
  </sql>

  <!--通用查询条件-->
  <sql id="query_condition">
  	<where>
  		1
  		<include refid="base_query_condition"/>
  		<include refid="base_query_condition_extend"/>
  	</where>
  </sql>

  <!--查询列表-->
  <select id="selectList" resultMap="base_result_map">
  	SELECT <include refid="base_column_list"/> 
  	FROM task
  	  <include refid="query_condition"/>
  	  <if test="query.orderBy != null">order by ${query.orderBy}</if>
  	  <if test="query.simplePage != null">limit #{query.simplePage.start}, #{query.simplePage.end}</if>
  </select>

  <!--查询数量-->
  <select id="selectCount" resultType="java.lang.Integer">
  	SELECT count(1) 
  	FROM task
  	  <include refid="query_condition"/>
  </select>

  <!--根据条件删除-->
  <delete id="deleteByQuery">
  	DELETE FROM
  		task
  	<include refid="query_condition"/>
  </delete>

  <!--根据条件更新-->
  <update id="updateByQuery">
  	UPDATE task
  	<set>
  		<if test="bean.userId != null">
  			user_id = #{bean.userId},
  		</if>
  		<if test="bean.taskType != null">
  			task_type = #{bean.taskType},
  		</if>
  		<if test="bean.completionStatus != null">
  			completion_status = #{bean.completionStatus},
  		</if>
  		<if test="bean.personalGoal != null">
  			personal_goal = #{bean.personalGoal},
  		</if>
  		<if test="bean.continuousDays != null">
  			continuous_days = #{bean.continuousDays},
  		</if>
  		<if test="bean.createTime != null">
  			create_time = #{bean.createTime},
  		</if>
  	</set>
  	<include refid="query_condition"/>
  </update>

  <!--插入(匹配有字段的值)-->
  <insert id="insert" parameterType="com.wnquxing.entity.po.Task">
  	<selectKey keyProperty="bean.id" resultType="java.lang.Long" order="AFTER">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
  	INSERT INTO task
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			id,
  		</if>
  		<if test="bean.userId != null">
  			user_id,
  		</if>
  		<if test="bean.taskType != null">
  			task_type,
  		</if>
  		<if test="bean.completionStatus != null">
  			completion_status,
  		</if>
  		<if test="bean.personalGoal != null">
  			personal_goal,
  		</if>
  		<if test="bean.continuousDays != null">
  			continuous_days,
  		</if>
  		<if test="bean.createTime != null">
  			create_time,
  		</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			#{bean.id},
  		</if>
  		<if test="bean.userId != null">
  			#{bean.userId},
  		</if>
  		<if test="bean.taskType != null">
  			#{bean.taskType},
  		</if>
  		<if test="bean.completionStatus != null">
  			#{bean.completionStatus},
  		</if>
  		<if test="bean.personalGoal != null">
  			#{bean.personalGoal},
  		</if>
  		<if test="bean.continuousDays != null">
  			#{bean.continuousDays},
  		</if>
  		<if test="bean.createTime != null">
  			#{bean.createTime},
  		</if>
  	</trim>
  </insert>

  <!--插入或更新(匹配有值的字段)-->
  <insert id="insertOrUpdate" parameterType="com.wnquxing.entity.po.Task">
  	INSERT INTO task
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			id,
  		</if>
  		<if test="bean.userId != null">
  			user_id,
  		</if>
  		<if test="bean.taskType != null">
  			task_type,
  		</if>
  		<if test="bean.completionStatus != null">
  			completion_status,
  		</if>
  		<if test="bean.personalGoal != null">
  			personal_goal,
  		</if>
  		<if test="bean.continuousDays != null">
  			continuous_days,
  		</if>
  		<if test="bean.createTime != null">
  			create_time,
  		</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			#{bean.id},
  		</if>
  		<if test="bean.userId != null">
  			#{bean.userId},
  		</if>
  		<if test="bean.taskType != null">
  			#{bean.taskType},
  		</if>
  		<if test="bean.completionStatus != null">
  			#{bean.completionStatus},
  		</if>
  		<if test="bean.personalGoal != null">
  			#{bean.personalGoal},
  		</if>
  		<if test="bean.continuousDays != null">
  			#{bean.continuousDays},
  		</if>
  		<if test="bean.createTime != null">
  			#{bean.createTime},
  		</if>
  	</trim>
  	on DUPLICATE KEY update
  	<trim prefix="" suffix="" suffixOverrides=",">
  		<if test="bean.userId != null">
  			user_id = VALUES(user_id),
  		</if>
  		<if test="bean.taskType != null">
  			task_type = VALUES(task_type),
  		</if>
  		<if test="bean.completionStatus != null">
  			completion_status = VALUES(completion_status),
  		</if>
  		<if test="bean.personalGoal != null">
  			personal_goal = VALUES(personal_goal),
  		</if>
  		<if test="bean.continuousDays != null">
  			continuous_days = VALUES(continuous_days),
  		</if>
  		<if test="bean.createTime != null">
  			create_time = VALUES(create_time),
  		</if>
  	</trim>
  </insert>

  <!--批量插入-->
  <insert id="insertBatch" parameterType="com.wnquxing.entity.po.Task">
  	INSERT INTO task(user_id,task_type,completion_status,personal_goal,continuous_days,create_time)values
  	<foreach collection="list" item="item" separator=",">
  		(#{item.userId},#{item.taskType},#{item.completionStatus},#{item.personalGoal},#{item.continuousDays},#{item.createTime})
  	</foreach>
  </insert>

  <!--批量插入或更新-->
  <insert id="insertOrUpdateBatch" parameterType="com.wnquxing.entity.po.Task">
  	INSERT INTO task(user_id,task_type,completion_status,personal_goal,continuous_days,create_time)values
  	<foreach collection="list" item="item" separator=",">
  		(#{item.userId},#{item.taskType},#{item.completionStatus},#{item.personalGoal},#{item.continuousDays},#{item.createTime})
  	</foreach>
  	on DUPLICATE KEY update
  		user_id = VALUES(user_id),task_type = VALUES(task_type),completion_status = VALUES(completion_status),personal_goal = VALUES(personal_goal),continuous_days = VALUES(continuous_days),create_time = VALUES(create_time)
  </insert>

  <!--根据"id"查询-->
  <select id="selectById" resultMap="base_result_map">
  	SELECT <include refid="base_column_list"/> 
  	  FROM task
  	  WHERE id=#{id} 
  </select>

  <!--根据"id"更新-->
  <update id="updateById" parameterType="com.wnquxing.entity.po.Task">
  	UPDATE task
  	<set>
  		<if test="bean.userId != null">
  			user_id = #{bean.userId},
  		</if>
  		<if test="bean.taskType != null">
  			task_type = #{bean.taskType},
  		</if>
  		<if test="bean.completionStatus != null">
  			completion_status = #{bean.completionStatus},
  		</if>
  		<if test="bean.personalGoal != null">
  			personal_goal = #{bean.personalGoal},
  		</if>
  		<if test="bean.continuousDays != null">
  			continuous_days = #{bean.continuousDays},
  		</if>
  		<if test="bean.createTime != null">
  			create_time = #{bean.createTime},
  		</if>
  	</set>
  	WHERE id=#{id} 
  </update>

  <!--根据"id"删除-->
  <delete id="deleteById">
  	DELETE FROM 
  	  task
  	  WHERE id=#{id} 
  </delete>

</mapper>