<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wnquxing.mappers.UserMapper">

  <!--实体映射-->
  <resultMap id="base_result_map" type="com.wnquxing.entity.po.User">

  	<!--用户表主键ID-->
  	<id column="id" property="id"/>

  	<!--用户唯一标识ID-->
  	<result column="user_id" property="userId"/>

  	<!--用户密码（建议加密存储）-->
  	<result column="password" property="password"/>

  	<!--用户创建时间（表记录创建时间）-->
  	<result column="create_time" property="createTime"/>

  	<!--用户邮箱号-->
  	<result column="email" property="email"/>


  </resultMap>

  <!--通用查询列-->
  <sql id="base_column_list">
  	id, user_id, password, create_time, email 
  </sql>

  <!--基础查询条件-->
  <sql id="base_query_condition">
  	<if test="query.id !=null">
  		and id = #{query.id}
  	</if>
  	<if test="query.userId !=null and query.userId != ''">
  		and user_id = #{query.userId}
  	</if>
  	<if test="query.password !=null and query.password != ''">
  		and password = #{query.password}
  	</if>
  	<if test="query.createTime !=null">
  		and create_time = #{query.createTime}
  	</if>
  	<if test="query.email !=null and query.email != ''">
  		and email = #{query.email}
  	</if>
  </sql>

  <!--扩展查询条件-->
  <sql id="base_query_condition_extend">
  	<if test="query.userIdFuzzy !=null and query.userIdFuzzy != ''">
  		 and user_id like concat('%',#{query.userIdFuzzy},'%')
  	</if>
  	<if test="query.passwordFuzzy !=null and query.passwordFuzzy != ''">
  		 and password like concat('%',#{query.passwordFuzzy},'%')
  	</if>
  	<if test="query.createTimeStart !=null and query.createTimeStart != ''">
  		 <![CDATA[ and create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
  	</if>
  	<if test="query.createTimeEnd !=null and query.createTimeEnd != ''">
  		 <![CDATA[ and create_time < date_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'), interval - 1 day) ]]>
  	</if>
  	<if test="query.emailFuzzy !=null and query.emailFuzzy != ''">
  		 and email like concat('%',#{query.emailFuzzy},'%')
  	</if>
  </sql>

  <!--通用查询条件-->
  <sql id="query_condition">
  	<where>
  		1
  		<include refid="base_query_condition"/>
  		<include refid="base_query_condition_extend"/>
  	</where>
  </sql>

  <!--查询列表-->
  <select id="selectList" resultMap="base_result_map">
  	SELECT <include refid="base_column_list"/> 
  	FROM user
  	  <include refid="query_condition"/>
  	  <if test="query.orderBy != null">order by ${query.orderBy}</if>
  	  <if test="query.simplePage != null">limit #{query.simplePage.start}, #{query.simplePage.end}</if>
  </select>

  <!--查询数量-->
  <select id="selectCount" resultType="java.lang.Integer">
  	SELECT count(1) 
  	FROM user
  	  <include refid="query_condition"/>
  </select>

  <!--根据条件删除-->
  <delete id="deleteByQuery">
  	DELETE FROM
  		user
  	<include refid="query_condition"/>
  </delete>

  <!--根据条件更新-->
  <update id="updateByQuery">
  	UPDATE user
  	<set>
  		<if test="bean.userId != null">
  			user_id = #{bean.userId},
  		</if>
  		<if test="bean.password != null">
  			password = #{bean.password},
  		</if>
  		<if test="bean.createTime != null">
  			create_time = #{bean.createTime},
  		</if>
  		<if test="bean.email != null">
  			email = #{bean.email},
  		</if>
  	</set>
  	<include refid="query_condition"/>
  </update>

  <!--插入(匹配有字段的值)-->
  <insert id="insert" parameterType="com.wnquxing.entity.po.User">
  	<selectKey keyProperty="bean.id" resultType="java.lang.Long" order="AFTER">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
  	INSERT INTO user
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			id,
  		</if>
  		<if test="bean.userId != null">
  			user_id,
  		</if>
  		<if test="bean.password != null">
  			password,
  		</if>
  		<if test="bean.createTime != null">
  			create_time,
  		</if>
  		<if test="bean.email != null">
  			email,
  		</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			#{bean.id},
  		</if>
  		<if test="bean.userId != null">
  			#{bean.userId},
  		</if>
  		<if test="bean.password != null">
  			#{bean.password},
  		</if>
  		<if test="bean.createTime != null">
  			#{bean.createTime},
  		</if>
  		<if test="bean.email != null">
  			#{bean.email},
  		</if>
  	</trim>
  </insert>

  <!--插入或更新(匹配有值的字段)-->
  <insert id="insertOrUpdate" parameterType="com.wnquxing.entity.po.User">
  	INSERT INTO user
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			id,
  		</if>
  		<if test="bean.userId != null">
  			user_id,
  		</if>
  		<if test="bean.password != null">
  			password,
  		</if>
  		<if test="bean.createTime != null">
  			create_time,
  		</if>
  		<if test="bean.email != null">
  			email,
  		</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides=",">
  		<if test="bean.id != null">
  			#{bean.id},
  		</if>
  		<if test="bean.userId != null">
  			#{bean.userId},
  		</if>
  		<if test="bean.password != null">
  			#{bean.password},
  		</if>
  		<if test="bean.createTime != null">
  			#{bean.createTime},
  		</if>
  		<if test="bean.email != null">
  			#{bean.email},
  		</if>
  	</trim>
  	on DUPLICATE KEY update
  	<trim prefix="" suffix="" suffixOverrides=",">
  		<if test="bean.userId != null">
  			user_id = VALUES(user_id),
  		</if>
  		<if test="bean.password != null">
  			password = VALUES(password),
  		</if>
  		<if test="bean.createTime != null">
  			create_time = VALUES(create_time),
  		</if>
  		<if test="bean.email != null">
  			email = VALUES(email),
  		</if>
  	</trim>
  </insert>

  <!--批量插入-->
  <insert id="insertBatch" parameterType="com.wnquxing.entity.po.User">
  	INSERT INTO user(user_id,password,create_time,email)values
  	<foreach collection="list" item="item" separator=",">
  		(#{item.userId},#{item.password},#{item.createTime},#{item.email})
  	</foreach>
  </insert>

  <!--批量插入或更新-->
  <insert id="insertOrUpdateBatch" parameterType="com.wnquxing.entity.po.User">
  	INSERT INTO user(user_id,password,create_time,email)values
  	<foreach collection="list" item="item" separator=",">
  		(#{item.userId},#{item.password},#{item.createTime},#{item.email})
  	</foreach>
  	on DUPLICATE KEY update
  		user_id = VALUES(user_id),password = VALUES(password),create_time = VALUES(create_time),email = VALUES(email)
  </insert>

  <!--根据"id"查询-->
  <select id="selectById" resultMap="base_result_map">
  	SELECT <include refid="base_column_list"/> 
  	  FROM user
  	  WHERE id=#{id} 
  </select>

  <!--根据"id"更新-->
  <update id="updateById" parameterType="com.wnquxing.entity.po.User">
  	UPDATE user
  	<set>
  		<if test="bean.userId != null">
  			user_id = #{bean.userId},
  		</if>
  		<if test="bean.password != null">
  			password = #{bean.password},
  		</if>
  		<if test="bean.createTime != null">
  			create_time = #{bean.createTime},
  		</if>
  		<if test="bean.email != null">
  			email = #{bean.email},
  		</if>
  	</set>
  	WHERE id=#{id} 
  </update>

  <!--根据"id"删除-->
  <delete id="deleteById">
  	DELETE FROM 
  	  user
  	  WHERE id=#{id} 
  </delete>

  <!--根据"userId"查询-->
  <select id="selectByUserId" resultMap="base_result_map">
  	SELECT <include refid="base_column_list"/> 
  	  FROM user
  	  WHERE user_id=#{userId} 
  </select>

  <!--根据"userId"更新-->
  <update id="updateByUserId" parameterType="com.wnquxing.entity.po.User">
  	UPDATE user
  	<set>
  		<if test="bean.userId != null">
  			user_id = #{bean.userId},
  		</if>
  		<if test="bean.password != null">
  			password = #{bean.password},
  		</if>
  		<if test="bean.createTime != null">
  			create_time = #{bean.createTime},
  		</if>
  		<if test="bean.email != null">
  			email = #{bean.email},
  		</if>
  	</set>
  	WHERE user_id=#{userId} 
  </update>

  <!--根据"userId"删除-->
  <delete id="deleteByUserId">
  	DELETE FROM 
  	  user
  	  WHERE user_id=#{userId} 
  </delete>

  <!--根据"email"查询-->
  <select id="selectByEmail" resultMap="base_result_map">
  	SELECT <include refid="base_column_list"/> 
  	  FROM user
  	  WHERE email=#{email} 
  </select>

  <!--根据"email"更新-->
  <update id="updateByEmail" parameterType="com.wnquxing.entity.po.User">
  	UPDATE user
  	<set>
  		<if test="bean.userId != null">
  			user_id = #{bean.userId},
  		</if>
  		<if test="bean.password != null">
  			password = #{bean.password},
  		</if>
  		<if test="bean.createTime != null">
  			create_time = #{bean.createTime},
  		</if>
  		<if test="bean.email != null">
  			email = #{bean.email},
  		</if>
  	</set>
  	WHERE email=#{email} 
  </update>

  <!--根据"email"删除-->
  <delete id="deleteByEmail">
  	DELETE FROM 
  	  user
  	  WHERE email=#{email} 
  </delete>

	<!-- 根据userId查询用户 -->
	<select id="getByUserId" parameterType="String" resultMap="base_result_map">
		SELECT * FROM t_user WHERE user_id = #{userId} LIMIT 1
	</select>

	<!-- 根据email查询用户 -->
	<select id="getByEmail" parameterType="String" resultMap="base_result_map">
		SELECT * FROM t_user WHERE email = #{email} LIMIT 1
	</select>

</mapper>